name: pf400_module
services:
  pf400_module:
    container_name: pf400_module
    image: ${IMAGE}
    build:
      context: .
      dockerfile: Dockerfile
      tags:
        - ${IMAGE}:latest
        - ${IMAGE}:${PROJECT_VERSION}
        - ${IMAGE}:dev
    command: python pf400_module/scripts/pf400_rest_node.py
    privileged: true
    env_file: .env
    volumes:
      - ./scripts:/home/app/pf400_module/scripts
      # - ./tests:/home/app/pf400_module/tests
    ports:
      - 2000:2000
